<div class=" pt-16 px-1 ">
     <div class="flex flex-col gap-1">
        <span class="p-2 bg-slate-500 max-w-max rounded-lg">Hii , user</span>
    <div class="rounded-md bg-slate-400 h-20 max-w-sm flex justify-center items-center">Todays Weather</div>
     
    <div class="flex flex-col">
        <span class="p-2 my-1">Trending</span>
        <div class="flex flex-wrap gap-2 justify-center items-center ">
            <div class="container">Predictions</div>
            <div class="container">Cultivation Tip</div>
            <div class="container">Market Price</div>
            <div class="container">Fertilizer</div>
        </div>
    </div>
     </div>
     

     
     
</div>
